p{
    color: blue;
} 
.red{
    border: 1px solid red;
    border-collapse: collapse;
}
.blue{
    border: 1px solid blue;
    border-collapse: collapse;
}
a:hover{
    color: chartreuse;
}
html{
    scroll-behavior: smooth;
}
a:visited{
    color: hotpink;
}




